.main_area{
    width: 650px;
    height: 300px;
    background:rgb(252, 249, 249);
    display: flex;
    align-items: center;
    justify-content: center;
}
.all_cards{
    display: flex;
    justify-content: space-around;
    height: 250px;
    width: 630px;
}
.card{
    width: 200px;
    height: 250px;
    background:white;
    box-shadow: 0 4px 8px 0 rgba(221, 214, 214, 0.2);
    transition: 0.3s;
    position:relative;
}
.green{
    width: 200px;
    height: 200px;
    background: #348f52;
    position: relative;
}
.blue{
    width: 200px;
    height: 200px;
    background: #5db8ec;
    position: relative;

}
.circle{
    background: #3784db;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    position: absolute;
    top: 73%;
    left: 78%;
}
img.displayed {
    position: absolute;
    top: 76%;
    left: 82%;
    transform: scale(-1, 1)
}
.yellow{
    width: 200px;
    height: 200px;
    background: #f8bf45;
    position: relative;
}
.number{
    position: absolute;
    font-size:700%;
    right:40%;
    top:-35%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sign{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15pt;
    padding-left: 5%;
    color: black;
}